/*----------------------------------------------------------------------------------------
レスポンシブに関する汎用集
----------------------------------------------------------------------------------------*/

// 画面幅で行間を変える

.sample {
    //  120=行間 70=フォントサイズ
    line-height: calc(120/70);
}

// 画面幅で高さを変える

.sample {
    // 90vwはpx()90px 7.69の部分は幅(769px)
    // 769pxの時に90pxになるように縮んでいく
    height: calc(90vw / 7.69);
    // 最大の高さを指定
    max-height: 98px;
}